* {
  margin: 0;
  padding: 0;
  direction: rtl;
}

@media only screen and (max-width: 600px) {
  /* navpar--------------------------------- */
  body {
    background-image: url(https://images.pexels.com/photos/4709425/pexels-photo-4709425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* الناف بار ثابت */
    position: fixed;
    width: 100%;
    background-color: rgba(39, 40, 41, 1);
    height: 10vh;
  }
  .nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    overflow: hidden;
    font-size: 30px;
    display: flex;
    width: 100%;
    border-right: 1px solid #0e0e0e;
  }

  .nav-ul a {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
  }
  .nav-ul a:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: #0e0e0e;
  }
  .borgar-mune {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #titale-hom {
    display: none;
  }

  #tital-how {
    display: none;
  }
  .home {
    padding-left: 40px;
  }
  .material-symbols-outlined {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
  }

  span:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: #0e0e0e;
  }

  /* univ-divs----------------------------- */
  .university-contaner {
    background-repeat: no-repeat;
    border: 0px solid;
    height: 100vh;
    background-size: contain;
    margin: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.071);
  }
  .university-contaner:hover {
    margin: 10px;
  }
  .university-div {
    padding-top: 100px;

    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .university-div2 {
    display: flex;
    height: 100vh;

    flex-direction: column;
    justify-content: space-around;
  }
  /* -----page-1-2------------------------------- */
  .colleg-text {
    border: 0px solid;
    width: 100vw;
    background-size: contain;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.071);
    text-align: center;
    text-decoration: none;
    color: #0e0e0e;
    font-size: 40px;
  }

  .h2-text {
    padding: 5vh;
    font-size: 50px;
  }

  .colleg-text:hover {
    margin: 10px;
  }

  .name-contanir {
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .univ-name {
    border: 1px solid white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 5px 0px 0px rgba(39, 40, 41, 0.095);
  }
  .h1-about-us {
    text-align: center;
    font-size: 10px;
  }
  /* ------------------------------------------------------- */

  /* footerpar--------------------------------- */

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(39, 40, 41, 1);
    height: 20vh;
  }

  /* about-us-------------------------------------- */

  .about-us {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-us-p {
    border: 1px solid white;
    height: 45vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 10px 10px 0px 0px rgba(39, 40, 41, 0.095);
  }
  .h1-about-us {
    padding: 50px;
    text-align: center;
    font-size: 50px;
  }
  .p-about-us {
    width: 70%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  /* navpar--------------------------------- */
  body {
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=1060&t=st=1691247518~exp=1691248118~hmac=f82ddd4f063bafa31346f9bf2a8a87453ea5fad238138d546ddd508990aa6973);
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* الناف بار ثابت */
    position: fixed;
    width: 100%;
    background-color: rgba(39, 40, 41, 1);
    height: 10vh;
  }
  .nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 60px;
    overflow: hidden;
    font-size: 30px;
    display: flex;
    width: 100%;
    border-right: 1px solid #0e0e0e;
  }

  .nav-ul a {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
  }
  .nav-ul a:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: #0e0e0e;
  }
  .borgar-mune {
    display: none;
  }
  .home {
    padding-left: 40px;
  }
  .material-symbols-outlined {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
  }

  span:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: #0e0e0e;
  }

  /* univ-divs----------------------------- */
  .university-contaner {
    background-repeat: no-repeat;
    border: 0px solid;
    width: 100vw;
    background-size: contain;
    margin: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.071);
  }

  /* -----page-1-2------------------------------- */
  .colleg-text {
    border: 0px solid;
    width: 100vw;
    background-size: contain;
    margin: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.071);
    text-align: center;
    text-decoration: none;
    color: #0e0e0e;
    font-size: 40px;
  }

  .h2-text {
    padding-top: 15vh;
  }

  .colleg-text:hover {
    margin-top: -10px;
    margin-bottom: -10px;
    transition: 1s;
  }

  .name-contanir {
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .univ-name {
    border: 1px solid white;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 10px 10px 0px 0px rgba(39, 40, 41, 0.095);
  }
  .h1-about-us {
    padding: 50px;
    text-align: center;
    font-size: 50px;
  }
  /* ------------------------------------------------------- */
  .university-contaner:hover {
    margin-top: -10px;
    margin-bottom: -10px;
    transition: 1s;
  }
  .university-div {
    padding: 30px;
    padding-top: 100px;
    display: flex;
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
  }
  .university-div2 {
    padding: 30px;

    display: flex;
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
  }

  /* footerpar--------------------------------- */

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(39, 40, 41, 1);
    height: 20vh;
  }

  /* about-us-------------------------------------- */

  .about-us {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-us-p {
    border: 1px solid white;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 10px 10px 0px 0px rgba(39, 40, 41, 0.095);
  }
  .h1-about-us {
    padding: 50px;
    text-align: center;
    font-size: 50px;
  }
  .p-about-us {
    width: 70%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
}
